main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100dvh;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: grey;
}

.box {
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
}

@media screen and (min-width: 1024px) {
    .container {
        flex-direction: row;
    }
}